# Online Retail store sales prediction using Exponential moving average.

In [1]:
import pandas as pd

In [2]:
# we already have processed data from when we tried Simple moving average.. directly importing that 
df = pd.read_csv('online_retail_daily_sales.csv')

In [3]:
df.head()

         Date     price
0  2010-12-01  58635.56
1  2010-12-02  46207.28
2  2010-12-03  45620.46
3  2010-12-05  31383.95
4  2010-12-06  53860.18

we have the daily sales here.

In [4]:
df = df.set_index('Date')

In [5]:
df.head()

               price
Date
2010-12-01  58635.56
2010-12-02  46207.28
2010-12-03  45620.46
2010-12-05  31383.95
2010-12-06  53860.18