In [1]:
import pandas as pd

## Pandas Data Structures
Pandas has two main data structures for storing data:

1. Series
2. DataFrame

In [4]:
# Series - A series is a one-dimensional object and can store data of any type.
sample_series = pd.Series([1,2,3,4,5])
print(sample_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

A dataframe is a two dimensional array and typically can be seen as a table having rows and columns. A pandas dataframe can be created using various inputs such as dictionaries, numpy ndarrays, lists, series and even another dataframe.

In [6]:
empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [7]:
#Creating a DataFrame from a list of dictionaries
dic = [{'a':1,'b':2},{'a':3,'b':4,'c':7}]
dict_df = pd.DataFrame(dic)
print(dict_df)

   a  b    c
0  1  2  NaN
1  3  4  7.0

In [8]:
# Creating a DataFrame from ndarrays
ndarrays_df = {'Employee Name':['Jim', 'Jill', 'Alan', 'Scott'],'Emp No':[2556,3476,3934,5223]}
ndarrays_df = pd.DataFrame(ndarrays_df)
print(ndarrays_df)

  Employee Name  Emp No
0           Jim    2556
1          Jill    3476
2          Alan    3934
3         Scott    5223

In [3]:
# Creating dataframe using csv file
df = pd.read_csv('student_mat.csv',sep=';')

# Data Exploration and Information

In [16]:
df.head() # prints the initial rows

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [17]:
df.tail() # prints end of the rows

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [18]:
df.info() #gives lots of info about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [19]:
df.describe() # gives the information about each column like mean, median , standard deviation

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [21]:
df.shape #Get the dimensions (rows, columns) of the DataFrame.

(395, 33)

In [6]:
# to check data types of columns
df.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [7]:
# to get all column names:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Fedu', 'Mjob',
       'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures',
       'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher',
       'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc',
       'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [11]:
#nunique() and unique()
#df['column_name'].nunique(): Returns the number of unique values in a specific column.
#df['column_name'].unique(): Returns an array of unique values in a specific column.

df['age'].unique(),df['age'].nunique()

(array([18, 17, 15, 16, 19, 22, 20, 21], dtype=int64), 8)

In [12]:
#value_counts(): Counts the frequency of each unique value in a specific column.
df['age'].value_counts()

age
16    104
17     98
18     82
15     82
19     24
20      3
22      1
21      1
Name: count, dtype: int64

In [27]:
#dropna parameter determines if NaN should not be included in count. It it true by default :i.e nan values are not added in count
df['age'].value_counts(dropna=False)

age
16    104
17     98
18     82
15     82
19     24
20      3
22      1
21      1
Name: count, dtype: int64

In [13]:
#isnull() :Returns a DataFrame of the same shape with True for missing values and False for non-missing values.
df.isnull()

,school,sex,age,address,famsize,Pstatus,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
391,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
393,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [28]:
# to find the number of null values in columns
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [29]:
# tells if there are null values in column
df.isnull().all()

school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
dtype: bool

In [16]:
#corr(): Calculates the pairwise correlation of numerical columns in the DataFrame.
# first need to convert the other data_types to number
numeric_df = df.select_dtypes(include='number')
numeric_df.corr()

,age,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
age,1.000000,-0.163438,0.070641,-0.004140,0.243665,0.053940,0.016434,0.126964,0.131125,0.117276,-0.062187,0.175230,-0.064081,-0.143474,-0.161579
Fedu,-0.163438,1.000000,-0.158194,-0.009175,-0.250408,-0.001370,-0.012846,0.043105,0.002386,-0.012631,0.014742,0.024473,0.190270,0.164893,0.152457
traveltime,0.070641,-0.158194,1.000000,-0.100909,0.092239,-0.016808,-0.017025,0.028540,0.138325,0.134116,0.007501,-0.012944,-0.093040,-0.153198,-0.117142
studytime,-0.004140,-0.009175,-0.100909,1.000000,-0.173563,0.039731,-0.143198,-0.063904,-0.196019,-0.253785,-0.075616,-0.062700,0.160612,0.135880,0.097820
failures,0.243665,-0.250408,0.092239,-0.173563,1.000000,-0.044337,0.091987,0.124561,0.136047,0.141962,0.065827,0.063726,-0.354718,-0.355896,-0.360415
famrel,0.053940,-0.001370,-0.016808,0.039731,-0.044337,1.000000,0.150701,0.064568,-0.077594,-0.113397,0.094056,-0.044354,0.022168,-0.018281,0.051363
freetime,0.016434,-0.012846,-0.017025,-0.143198,0.091987,0.150701,1.000000,0.285019,0.209001,0.147822,0.075733,-0.058078,0.012613,-0.013777,0.011307
goout,0.126964,0.043105,0.028540,-0.063904,0.124561,0.064568,0.285019,1.000000,0.266994,0.420386,-0.009577,0.044302,-0.149104,-0.162250,-0.132791
Dalc,0.131125,0.002386,0.138325,-0.196019,0.136047,-0.077594,0.209001,0.266994,1.000000,0.647544,0.077180,0.111908,-0.094159,-0.064120,-0.054660
Walc,0.117276,-0.012631,0.134116,-0.253785,0.141962,-0.113397,0.147822,0.420386,0.647544,1.000000,0.092476,0.136291,-0.126179,-0.084927,-0.051939
health,-0.062187,0.014742,0.007501,-0.075616,0.065827,0.094056,0.075733,-0.009577,0.077180,0.092476,1.000000,-0.029937,-0.073172,-0.097720,-0.061335
absences,0.175230,0.024473,-0.012944,-0.062700,0.063726,-0.044354,-0.058078,0.044302,0.111908,0.136291,-0.029937,1.000000,-0.031003,-0.031777,0.034247
G1,-0.064081,0.190270,-0.093040,0.160612,-0.354718,0.022168,0.012613,-0.149104,-0.094159,-0.126179,-0.073172,-0.031003,1.000000,0.852118,0.801468
G2,-0.143474,0.164893,-0.153198,0.135880,-0.355896,-0.018281,-0.013777,-0.162250,-0.064120,-0.084927,-0.097720,-0.031777,0.852118,1.000000,0.904868
G3,-0.161579,0.152457,-0.117142,0.097820,-0.360415,0.051363,0.011307,-0.132791,-0.054660,-0.051939,-0.061335,0.034247,0.801468,0.904868,1.000000

In [18]:
# .cov(): Calculates the covariance matrix of numerical columns.
numeric_df.cov()

,age,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
age,1.628285,-0.226949,0.062873,-0.004434,0.231221,0.061717,0.020947,0.180364,0.149039,0.192733,-0.110326,1.789501,-0.271413,-0.688653,-0.944612
Fedu,-0.226949,1.184180,-0.120073,-0.008379,-0.202641,-0.001337,-0.013963,0.052220,0.002313,-0.017702,0.022303,0.213134,0.687245,0.674953,0.760078
traveltime,0.062873,-0.120073,0.486513,-0.059070,0.047844,-0.010512,-0.011861,0.022162,0.085941,0.120478,0.007274,-0.072255,-0.215402,-0.401940,-0.374337
studytime,-0.004434,-0.008379,-0.059070,0.704324,-0.108321,0.029898,-0.120041,-0.059706,-0.146533,-0.274304,-0.088228,-0.421127,0.447401,0.428947,0.376110
failures,0.231221,-0.202641,0.047844,-0.108321,0.553017,-0.029564,0.068329,0.103123,0.090118,0.135964,0.068059,0.379265,-0.875557,-0.995528,-1.227932
famrel,0.061717,-0.001337,-0.010512,0.029898,-0.029564,0.803997,0.134974,0.064454,-0.061974,-0.130952,0.117252,-0.318287,0.065977,-0.061659,0.211000
freetime,0.020947,-0.013963,-0.011861,-0.120041,0.068329,0.134974,0.997725,0.316944,0.185954,0.190163,0.105173,-0.464274,0.041817,-0.051764,0.051745
goout,0.180364,0.052220,0.022162,-0.059706,0.103123,0.064454,0.316944,1.239388,0.264763,0.602744,-0.014824,0.394718,-0.550967,-0.679438,-0.677292
Dalc,0.149039,0.002313,0.085941,-0.146533,0.090118,-0.061974,0.185954,0.264763,0.793420,0.742852,0.095579,0.797758,-0.278385,-0.214836,-0.223061
Walc,0.192733,-0.017702,0.120478,-0.274304,0.135964,-0.130952,0.190163,0.602744,0.742852,1.658678,0.165585,1.404774,-0.539388,-0.411425,-0.306464
health,-0.110326,0.022303,0.007274,-0.088228,0.068059,0.117252,0.105173,-0.014824,0.095579,0.165585,1.932944,-0.333098,-0.337666,-0.511039,-0.390677
absences,1.789501,0.213134,-0.072255,-0.421127,0.379265,-0.318287,-0.464274,0.394718,0.797758,1.404774,-0.333098,64.049541,-0.823556,-0.956596,1.255703
G1,-0.271413,0.687245,-0.215402,0.447401,-0.875557,0.065977,0.041817,-0.550967,-0.278385,-0.539388,-0.337666,-0.823556,11.017053,10.638836,12.187682
G2,-0.688653,0.674953,-0.401940,0.428947,-0.995528,-0.061659,-0.051764,-0.679438,-0.214836,-0.411425,-0.511039,-0.956596,10.638836,14.148917,15.593697
G3,-0.944612,0.760078,-0.374337,0.376110,-1.227932,0.211000,0.051745,-0.677292,-0.223061,-0.306464,-0.390677,1.255703,12.187682,15.593697,20.989616

In [19]:
df['Dalc'].mean()

1.481012658227848

In [20]:
df['Dalc'].median()

1.0

In [21]:
df['Dalc'].mode()

0    1
Name: Dalc, dtype: int64

In [22]:
df['Dalc'].min()

1

In [23]:
df['Dalc'].max()

5

In [24]:
df['Dalc'].std()

0.8907414280909659

In [25]:
df['Dalc'].describe()

count    395.000000
mean       1.481013
std        0.890741
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        5.000000
Name: Dalc, dtype: float64

# Indexing and Selection

In [22]:
# Select a single column by name.
df['activities']

0       no
1       no
2       no
3      yes
4       no
      ...
390     no
391     no
392     no
393     no
394     no
Name: activities, Length: 395, dtype: object

In [27]:
# Select multiple columns by name.
df[['activities','age','studytime']]

    activities  age  studytime
0           no   18          2
1           no   17          2
2           no   15          2
3          yes   15          3
4           no   16          2
..         ...  ...        ...
390         no   20          2
391         no   17          1
392         no   21          1
393         no   18          1
394         no   19          1

[395 rows x 3 columns]

In [28]:
#can be used for taking subset of a df too
df2 = df[['activities','age','studytime']]
df2.head(3)

  activities  age  studytime
0         no   18          2
1         no   17          2
2         no   15          2

In [34]:
df.iloc[1] # data present at location 1

school             GP
sex                 F
age                17
address             U
famsize           GT3
Pstatus             T
Medu                1
Fedu                1
Mjob          at_home
Fjob            other
reason         course
guardian       father
traveltime          1
studytime           2
failures            0
schoolsup          no
famsup            yes
paid               no
activities         no
nursery            no
higher            yes
internet          yes
romantic           no
famrel              5
freetime            3
goout               3
Dalc                1
Walc                1
health              3
absences            4
G1                  5
G2                  5
G3                  6
Name: 1, dtype: object

In [36]:
df.iloc[1,2] # df.iloc[row, column]: Select data by integer-based location.

17

In [38]:
# df.loc[row_label, column_label]: Select data by label-based location.
df.loc[0]

school             GP
sex                 F
age                18
address             U
famsize           GT3
Pstatus             A
Medu                4
Fedu                4
Mjob          at_home
Fjob          teacher
reason         course
guardian       mother
traveltime          2
studytime           2
failures            0
schoolsup         yes
famsup             no
paid               no
activities         no
nursery           yes
higher            yes
internet           no
romantic           no
famrel              4
freetime            3
goout               4
Dalc                1
Walc                1
health              3
absences            6
G1                  5
G2                  6
G3                  6
Name: 0, dtype: object

# Data Cleaning and Transformation:

1. df.drop(labels, axis): Remove rows or columns.
2. df.fillna(value): Fill missing values with a specified value.
3. df.dropna(): Remove rows with missing values.
4. df.rename(columns): Rename columns.
5. df.sort_values(by): Sort DataFrame by column(s).
6. df.groupby(column): Group data based on a column.
7. df.pivot_table(): Create a pivot table.

In [4]:
#dropping a column
df = df.drop('Medu',axis=1)

In [5]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Fedu', 'Mjob',
       'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures',
       'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher',
       'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc',
       'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')